.login-page__header {
  width: 40%;
}

.login-page__header-title {
  color: var(--gray-color-0);
}

.login-page__form {
  width: 50%;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:
    20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.login-page__body {
  width: 90%;
}

.btn-post {
  font-size: 18px;
}
.btn-new {
  color: var(--main-color);
  font-size: 18px;
  text-decoration: none;
}

.btn-new:hover {
  color: var(--gray-color-0);
  text-decoration: underline;
}

.login-page input::placeholder {
  color: var(--gray-color-0);
  font-size: 14px;
}

.login-page__form input:focus {
  outline: none;
}
